body{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 230px;
    display: flex;
    background-color: #dcdcdc;
}
#contentHeader{
    margin: 0 auto 0 auto;
    width: 980px;
    height: 230px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}
#menu{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #777777;
}
#footer{
    width: 100%;
    height: 200px;
    margin: 195px auto 0 auto;
    background-color: #767676;
}
#slider{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #f8f8f8;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}
#pngSlider{
    width:1248px;
    height: 462px;
}
#logo
{
    width: 273px;
    height: 100px;
    display:flex;
    justify-content: left;
}
#alignRight{
    margin: 0 auto 0 auto;
    width: 980px;
    height: 230px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contactsHeader{
}
#numbers{

}